/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #3A3A3A;
  }
/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", serif;
    font-size: 16px;
    color: var(--primary-color);
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    margin: 30px auto;
}
.btn {
    font-weight: bold;
    padding: 12px 24px;
    background-color: #E02C6D;
    border: 0;
    color: #fff;
    cursor: pointer;
}
/* Header Section */
.header_section {
    display: flex;
    justify-content: space-between;
}
.brand_name {
    font-size: 24px;
    font-weight: bold;
}
.nav_lists {
    display: flex;
    gap: 1.5rem;
}

.nav_lists li a {
    text-decoration: none;
    color: var(--primary-color);
}
/* Banner Section */
.banner_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side-banner h1 {
    font-size: 52px;
    font-weight: bold;
}
.left-side-banner p {
    margin-bottom: 10px;
}
.banner_btn {
    border-radius: 30px;
}
.right-side-banner {
    position: relative;
}
.main_camera {
    position: absolute;
    left: 5px;
    top: 20px;
}
/* Sponsor Section */
.sponsor {
    margin-top: 60px;
    border: 1px solid #f0f0f0d8;
    padding: 20px 30px;
}
.sponsor_lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Popular Section */
.popular_container {
    width: 1050px;
}
.popular {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.popular_title {
    font-size: 28px;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
}
.card {
    width: 330px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
}
.card_img img {
    margin-left: 5px;
    margin-top: 10px;
}
.card_details {
    margin-left: 5px;
}
.card_title {
    font-size: 28px;
}
.card_price {
    font-size: 24px;
}
.card_description {
    font-size: 14px;
}
.see_more {
    margin-top: 20px;
    color: #E02C6D;
    font-weight: bold;
    text-align: end;
}
/* Feature Section */
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.feature_title {
    font-size: 38px;
    font-weight: bold;
}
.feature_description {
    font-weight: bold;
    margin-bottom: 15px;
}
/* Footer Section */
.footer {
    padding: 60px;
    background-color: #0A0826;
    color: #fff;
    text-align: center;
}
.footer_title {
    font-size: 24px;
    font-weight: bold;
}
.footer p {
    font-size: 14px;
    margin: 15px 0px;
}
.icon_lists {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}